---
import MainLayout from "../layouts/MainLayout.astro"
import me from '../assets/images/me.webp'
---

<MainLayout title="Inicio" minwidth="600px">
	<meta  slot="head" name="title" content="Ivan Villegas Rojas | Desarollador Full Stack"/>
    <meta  slot="head" name="description" content="Desarrollador Full Stack con experiencia para crear aplicaciones web dinámicas y responsivas. Con una sólida formación en tecnologías de front-end y back-end." />

    <meta  slot="head" property="og:type" content="website" />
    <meta  slot="head" property="og:url" content="" />
    <meta  slot="head" property="og:title" content="Ivan Villegas Rojas | Desarollador Full Stack" />
    <meta  slot="head" property="og:description" content="Desarrollador Full Stack con experiencia para crear aplicaciones web dinámicas y responsivas. Con una sólida formación en tecnologías de front-end y back-end." />
    <meta  slot="head" property="og:image" content={me.src} />

    <meta  slot="head" property="twitter:card" content="summary_large_image" />
    <meta  slot="head" property="twitter:url" content="" />
    <meta  slot="head" property="twitter:title" content="Ivan Villegas Rojas | Desarollador Full Stack" />
    <meta  slot="head" property="twitter:description" content="Desarrollador Full Stack con experiencia para crear aplicaciones web dinámicas y responsivas. Con una sólida formación en tecnologías de front-end y back-end." />
    <meta  slot="head" property="twitter:image" content={me.src} />
	<main>
		<div class="d-flex m-b-md">
			<div class="profile-avatar">
				<img src={me.src} alt="Ivan Villegas Rojas">
			</div>
			<div class="m-l-md d-flex flex-column justify-content-center">
				<h1 class="h1">Ivan Villegas Rojas</h1>
				<h2 class="h2 ">Desarollador Full Stack</h2>
				<p class="text-caption">Puebla, Mexico.</p>
			</div>
		</div>
		<p class="text">Tengo experiencia para crear aplicaciones web dinámicas y responsivas. Con una sólida formación en tecnologías de front-end y back-end.</p>
		<p class="text m-t-md">Realmente me encanta programar, siempre estoy aprendiendo y buscando nuevos desafios.</p>
		<div class="d-flex justify-content-end m-y-md">
			<a class="btn secondary icon m-r-md" href="https://www.linkedin.com/in/ivan-villegas-rojas-184889178/" target="_blank">
				<i class='bx bxl-linkedin bx-sm'></i>
			</a>
			<a class="btn secondary icon m-r-md" href="https://github.com/Ivan547-arnus" target="_blank">
				<i class='bx bxl-github bx-sm'></i>
			</a>
			<a class="btn secondary icon m-r-md" href="https://www.instagram.com/ivan._dev/" target="_blank">
				<i class='bx bxl-instagram bx-sm'></i>
			</a>
			<a href="mailto:villegas.rojas.ivan@gmail.com" class="btn secondary m-r-md">
				<i class='bx bx-envelope bx-sm'></i>
			</a>
		</div>
	</main>
	<hr class="separator">
	<section class=" m-b-md">
		<p class="h1" style="margin-bottom: 3.5em;">Experiencia</p>
		<div class="time-line-container">
			<div class="time-line-element">
				<div class="time-line-header">
					<div class="avatar">
						<img src="images/jobs/tekoestudio.webp" alt="Logo de Teko Estudio">
					</div>
					<span class="h2">2021 - Presente en Teko Estudio</span>
				</div>
				<h2 class="h2 m-b-sm">Desarollador Full Stack</h2>
				<p class="text">
					En mi tiempo aqui he desarollado aplicaciones web y moviles usando HTML, CSS, JavaScript y PHP. Creamos interfaces dinamicas usando Vue.js y usamos varios Frameworks de PHP como Laravel, Webman y Creamos uno propio para cubrir las necesidades de la mayoria de proyectos. Tambien construimos y creamos RESTful APIs para conectar front-end y back-end. Desarollamos aplicaciones moviles usando capacitor y asi brindar compatibilidad en todos los dispositivos. Colaboramos con los clientes para obtener requerimientos y entregar soluciones que cumplan con sus necesidades. 
				</p>
				<div class="d-flex justify-content-end m-t-md flex-wrap" style="gap:.5em">
					<span class="badge secondary">PHP</span>
					<span class="badge secondary">MySql</span>
					<span class="badge secondary">HTML</span>
					<span class="badge secondary">CSS</span>
					<span class="badge secondary">JS</span>
					<span class="badge secondary">TS</span>
					<span class="badge secondary">jQuery</span>
					<span class="badge secondary">Vue</span>
					<span class="badge secondary">Laravel</span>
					<span class="badge secondary">Webman</span>
					<span class="badge secondary">Docker</span>
					<span class="badge secondary">MQTT</span>
				</div>
			</div>
			<div class="time-line-element">
				<div class="time-line-header">
					<div class="avatar">
						<img style="border-radius: 8px;" src="images/jobs/dti.webp" alt="Logo de Teko Estudio">
					</div>
					<span class="h2">2019 - 2021 en DTI Consultores</span>
				</div>
				<h2 class="h2 m-b-sm">Desarollador Full Stack</h2>
				<p class="text">
					Desarollamos aplicaciones AR con Unity y C# tambien contruimos interfaces web con HTML CSS JavaScript PHP y Vue.js. En este tiempo creamos y mantuvimos servidores personalizados en Azure para las acciones que requeriamos en los proyectos. Tambien administre al equipo para lograr hacer las tareas en tiempo y forma.
				</p>
				<div class="d-flex justify-content-end m-t-md flex-wrap" style="gap:.5em">
					<span class="badge secondary">PHP</span>
					<span class="badge secondary">MySql</span>
					<span class="badge secondary">HTML</span>
					<span class="badge secondary">CSS</span>
					<span class="badge secondary">JS</span>
					<span class="badge secondary">Vue</span>
					<span class="badge secondary">C#</span>
					<span class="badge secondary">Unity</span>
					<span class="badge secondary">AR</span>
					<span class="badge secondary">Azure</span>
				</div>
			</div>
			<div class="time-line-element">
				<div class="time-line-header">
					<div class="avatar">
						<img loading="lazy" src="images/jobs/sportcloset.webp" alt="Logo de Sport Closet" style="background-color: white; border-radius: 8px; padding: 2px">
					</div>
					<span class="h2">2018 - 2019 en Sport Closet</span>
				</div>
				<h2 class="h2 m-b-md">Desarollador Full Stack</h2>
				<p class="text">
					Desarrollé un E-commerce con HTML, CSS, JavaScript, PHP y Vue.js con diferentes métodos de pago como Stripe y Paypal. También utilicé el framework Laravel para el backend.
				</p>
				<div class="d-flex justify-content-end m-t-md flex-wrap" style="gap:.5em">
					<span class="badge secondary">PHP</span>
					<span class="badge secondary">MySql</span>
					<span class="badge secondary">HTML</span>
					<span class="badge secondary">CSS</span>
					<span class="badge secondary">JS</span>
					<span class="badge secondary">Vue</span>
					<span class="badge secondary">jQuery</span>
				</div>
			</div>
		</div>
		
	</section>
	<section>
		<p class="h1 m-y-md">Proyectos</p>
		<div class="projects-container" style="margin-top: 2em;">
			<div class="projects-column">
				<div class="project-card">
					<div class="avatar">
						<img loading="lazy" src="/images/projects/campestre.webp" alt="Logo de Club Campestre Aguascalientes"/>
					</div>
					<h2 class="h2 project-title">Campestre Ags</h2>
					<p class="text" style="margin-top: 1em;">
						Desarollamos un ERP para gestionar todas las actividades del club, como inventarios, torneos internos, facturas, etc. También desarrollamos una aplicación móvil para sus miembros, para realizar pagos, reservar servicios y notificar actividades del club.
					</p>
					<a href="/proyectos/campestre" class="screen m-t-md" transition:name="campestre-screen">
						<img loading="lazy" src="/images/projects/campestre-screen.webp" alt="Previsualizacion de Campestre Ags" />
					</a>
				</div>
				<div class="project-card">
					<div class="avatar">
						<img loading="lazy" src="/images/projects/boletiland.webp" alt="Logo de DLMS" />
					</div>
					<h2 class="h2 project-title">Boletiland</h2>
					<p class="text" style="margin-top: 1em;">
						Esta es una plataforma para vender entradas para diferentes eventos. Hemos añadido nuevas funciones para validar los tickets de pago y mejorar la experiencia del usuario con pasos más breves.
					</p>
					<a href="/proyectos/boletiland" class="screen m-t-md" transition:name="boletiland-screen">
						<img loading="lazy" src="/images/projects/boletiland-screen.webp" alt="Previsualizacion de Pagos de Boletiland" />
					</a>
				</div>
				<div class="project-card">
					<div class="avatar">
						<img loading="lazy" src="/images/projects/dlms.webp" alt="Logo de DLMS" />
					</div>
					<h2 class="h2 project-title">DLMS</h2>
					<p class="text" style="margin-top: 1em;">
						Desarrollamos un panel de administración para gestionar créditos y pagos, además creamos una aplicación móvil para administrar todos los créditos, como ver pagos y fechas de vencimiento.
					</p>
					<a href="/proyectos/dlms" class="screen m-t-md" transition:name="dlms-screen">
						<img loading="lazy" src="/images/projects/dlms-screen.webp" alt="Previsualizacion de DLMS" />
					</a>
				</div>
			</div>
			<div class="projects-column">
				<div class="project-card">
					<div class="avatar">
						<img loading="lazy" src="images/projects/skpt.webp" alt="Logo de SKPT Libre" />
					</div>
					<h2 class="h2 project-title">SKPT Libre</h2>
					<p class="text" style="margin-top: 1em;">
						Desarrollamos un sitio web para hacer reservas y creamos un panel de administración para diferentes roles como Invitados, Recepcionistas y Gerentes. También añadimos nuevas funciones a la aplicación móvil para mejorar la experiencia del usuario.
					</p>
					<a href="/proyectos/skpt" class="screen m-t-md" transition:name="skpt-screen">
						<img loading="lazy" src="/images/projects/skpt-screen.webp" alt="Previsualizacion de SKPT Libre" />
					</a>
				</div>
				<div class="project-card">
					<div class="avatar">
						<img loading="lazy" src="images/projects/byond.webp" alt="Logo de Byond e-learning" />
					</div>
					<h2 class="h2 project-title">Byond</h2>
					<p class="text" style="margin-top: 1em;">
						Esta es una plataforma de aprendizaje en línea donde puedes subir videos, crear cursos y gestionar el progreso de los estudiantes. Esta plataforma permite foros y la carga de diferentes tipos de contenido como PDFs, videos, presentaciones y exámenes personalizados.
					</p>
					<a href="/proyectos/byond" class="screen m-t-md" transition:name="byond-screen">
						<img loading="lazy" src="/images/projects/byond-screen.webp" alt="Previsualizacion de Byond / Andrea" />
					</a>
				</div>
				<div class="project-card">
					<div class="avatar">
						<img loading="lazy" src="images/jobs/sportcloset.webp" alt="Logo de Sport Closet" />
					</div>
					<h2 class="h2 project-title">Sport Closet</h2>
					<p class="text" style="margin-top: 1em;">
						Desarrollé una tienda de comercio electrónico para Sport Closet, y creé un panel para ver análisis de los productos, subir nuevos productos y crear descuentos.
					</p>
					<a href="/proyectos/sportcloset" class="screen m-t-md" transition:name="sportcloset-screen">
						<img loading="lazy" src="/images/projects/sportcloset-screen.webp" alt="Previsualizacion de Tienda de Sport Closet" />
					</a>
				</div>
			</div>
		</div>
	</section>
	<section style="margin-top: 5em;">
		<p class="h1 m-y-md text-center">¡Vamos a trabajar juntos!</p>
		<form>
			<label for="email">
				<p class="text m-b-sm text-center">Escribe tu correo o teléfono y me pondre en contacto contigo.</p>
			</label>
			<div class="form-input">
				<input id="email" type="text" class="input" placeholder="email@ejemplo.com">
				<button type="submit" class="btn primary btn-icon">
					<i class='bx bx-send bx-sm'></i>
					<span>Send</span>
				</button>
			</div>
		</form>
		<p class="text m-y-md text-center">
			Tambien puedes encontrarme en mis redes sociales
		</p>
		<div class="d-flex justify-content-center m-y-md">
			<a class="btn secondary icon m-r-md" href="https://www.linkedin.com/in/ivan-villegas-rojas-184889178/" target="_blank">
				<i class='bx bxl-linkedin bx-sm'></i>
			</a>
			<a class="btn secondary icon m-r-md" href="https://github.com/Ivan547-arnus" target="_blank">
				<i class='bx bxl-github bx-sm'></i>
			</a>
			<a class="btn secondary icon m-r-md" href="https://www.instagram.com/ivan._dev/" target="_blank">
				<i class='bx bxl-instagram bx-sm'></i>
			</a>
			<a href="mailto:villegas.rojas.ivan@gmail.com" class="btn secondary m-r-md">
				<i class='bx bx-envelope bx-sm'></i>
			</a>
		</div>
	</section>
</MainLayout>

<script is:inline>
	particlesJS("particles-js", {
	  particles: {
		number: {
		  value: 50,
		  density: {
			enable: true,
			value_area: 800,
		  },
		},
		color: {
		  value: "#ffffff",
		},
		shape: {
		  type: "circle",
		  stroke: {
			width: 0,
			color: "#000000",
		  },
		  polygon: {
			nb_sides: 5,
		  },
		  image: {
			src: "img/github.svg",
			width: 100,
			height: 100,
		  },
		},
		opacity: {
		  value: 0.3,
		  random: false,
		  anim: {
			enable: false,
			speed: 1,
			opacity_min: 0.1,
			sync: false,
		  },
		},
		size: {
		  value: 6,
		  random: true,
		  anim: {
			enable: false,
			speed: 40,
			size_min: 1,
			sync: false,
		  },
		},
		line_linked: {
		  enable: false,
		  distance: 150,
		  color: "#ffffff",
		  opacity: 0.4,
		  width: 1,
		},
		move: {
		  enable: true,
		  speed: 1,
		  direction: "none",
		  random: false,
		  straight: false,
		  out_mode: "bounce",
		  bounce: false,
		  attract: {
			enable: false,
			rotateX: 600,
			rotateY: 1200,
		  },
		},
	  },
	  interactivity: {
		detect_on: "canvas",
		events: {
		  onhover: {
			enable: false,
			mode: "bubble",
		  },
		  onclick: {
			enable: false,
			mode: "push",
		  },
		  resize: true,
		},
		modes: {
		  grab: {
			distance: 400,
			line_linked: {
			  opacity: 1,
			},
		  },
		  bubble: {
			distance: 400,
			size: 40,
			duration: 2,
			opacity: 8,
			speed: 3,
		  },
		  repulse: {
			distance: 200,
			duration: 0.4,
		  },
		  push: {
			particles_nb: 4,
		  },
		  remove: {
			particles_nb: 2,
		  },
		},
	  },
	  retina_detect: true,
	});
  </script>