---
import { Image } from "astro:assets"
import me from '../assets/images/me.webp'
import '../assets/css/main.css'
import '../assets/css/fonts.css'
import '../assets/css/theme.css'
import { ViewTransitions } from "astro:transitions"
const { title, maxWidth = '600px'} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ivan Villegas Rojas | Desarollador Full Stack | {title}</title>
    <link rel="icon" href={me.src}>
    <slot name="head" />
    <link  slot="head" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <ViewTransitions />
</head>
<body>
    <div class="container" style={`max-width: ${maxWidth}`}>
        <slot />
    </div>
</body>
</html>
